.my-popup-content {
    background: white;
    border: 1px solid #B2B2B2;
    border-radius: 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 14rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 0.875rem;
}